<% layout('/layout/boilerplate.ejs') %>

    <h1>Edit</h1>
    <form action="/campgrounds/<%= campgrounds._id %>/edit?_method=PATCH " method="post">
        <label for="title">Enter the title</label>
        <input type="text" id="title" name="title" value="<%= campgrounds.title  %>">
        <label for="location">Enter the location</label>
        <input type="text" id="location" name="location" value="<%= campgrounds.location %>">
        <button>Update</button>
    </form>
    <br>
    <a href="/campgrounds">back to index</a>
