<% layout('/layout/boilerplate.ejs') %>

    <div class="row">
        <div class="col-8 offset-2">
            <div class="alert alert-danger " role="alert">
                <h4 class="alert-heading">
                        <%= err.message %>
                </h4>
                <textarea class="container-fluid alert alert-danger" cols="90" rows="15" readonly>
                    <%= err.stack %>
                </textarea>
            </div>
        </div>
    </div>