<% layout('/layout/boilerplate.ejs') %>

<div class="row">
    <h1 class="text-center">
        Log In
    </h1>
    <div class="col-6 offset-3">
        <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="my-1">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" placeholder="" required>
                <div class="valid-feedback">
                    Look Good!
                </div>
            </div>

            <div class="my-1">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="" required>
                <div class="valid-feedback">
                    Look Good!
                </div>
            </div>

            <div class="my-2">
                <button class="btn btn-success ">Log in</button>
            </div>

        </form>
    </div>
</div>