<% layout('/layout/boilerplate.ejs') %>

    <div class="row">
        <h1 class="text-center">
            New Campground
        </h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post" class="needs-validation" novalidate>
                <div class="my-1">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" placeholder="" required>
                    <div class="valid-feedback">
                        Look Good!
                    </div>
                </div>

                <div class="my-1">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" placeholder="" required>
                    <div class="valid-feedback">
                        Look Good!
                    </div>
                </div>

                <div class="my-1">
                    <label class="form-label" for="img">Image URL</label>
                    <input class="form-control" type="text" id="img" name="campground[img]" placeholder="" required>
                    <div class="valid-feedback">
                        Look Good!
                    </div>
                </div>

                <div class="input-group mt-3 mb-2">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input name="campground[price]" type="text" class="form-control" placeholder="0.00" aria-label="Price" aria-describedby="basic-addon1" required>
                    <div class="valid-feedback">
                        Look Good!
                    </div>
                </div>

                <div class="my-1">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                    <div class="valid-feedback">
                        Look Good!
                    </div>
                </div>

                <div class="my-2">
                    <button class="btn btn-success ">Submit</button>
                </div>

            </form>
        </div>
    </div>

